<div class="form form-benefit text-center">
  <%= form_with(model: benefit, local: true) do |form| %>
  <% if benefit.errors.any? %>
    <div class="alert alert-danger">
      <div id="error_explanation">
      <h2><%= pluralize(benefit.errors.count, "error") %> prohibited this benefit from being saved:</h2>

      <ul>
      <% benefit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    </div>
  <% end %>
  
  <div class="field mb-3">
    <%= form.label :sum %>
    <%= form.text_field :sum, class: "form-control", placeholder: "amount in dollars" %>
  </div>

  <div class="field mb-3">
    <%= form.label :reward %>
    <%= form.text_field :reward, class: "form-control", placeholder: "maximum 135 characters" %>
  </div>

  <div class="field mb-3">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control", placeholder: "maximum 135 characters" %>
  </div>


  

  <div class="actions">
    <%= form.submit class: "btn btn-outline-success" %>
  </div>
<% end %>

</div>