<p id="notice"><%= notice %></p>

<p>
  <strong>Reward:</strong>
  <%= @benefit.reward %>
</p>

<p>
  <strong>Description:</strong>
  <%= @benefit.description %>
</p>

<p>
  <strong>Sum:</strong>
  <%= @benefit.sum %>
</p>

<p>
  <strong>Compaign:</strong>
  <%= @benefit.compaign.title %>
</p>

<%= link_to 'Edit', edit_benefit_path(@benefit) %> |
<%= link_to 'Back', root_path %>
