<%= form_with(model: compaign, local: true) do |form| %>
  <% if compaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(compaign.errors.count, "error") %> prohibited this compaign from being saved:</h2>

      <ul>
      <% compaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :project_idea %>
    <%= form.text_field :project_idea %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :goal %>
    <%= form.text_field :goal %>
  </div>

  <div class="field">
    <%= form.label :endtime %>
    <%= form.datetime_select :endtime, prompt: { day: 'Select day', month: 'Select month', year: 'Select year'}, discard_hour: true, discard_minute: true, :start_year => Date.current.year, :end_year => Date.current.year + 100 %>
  </div>

  <div class="field">
    <%= form.label :video %>
    <%= form.text_field :video %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.collection_select :category, $categories, :to_s, :to_s, include_blank: false %>    
  </div>

  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
