<div class="d-flex flex-wrap bd-highlight justify-content-center">
  <% @compaigns.each do |compaign|%>
    <div class="card bd-highlight m-3" style="width: 18rem;">
      <%= image_tag(compaign.card_image, class: "card-img-top") %>
      <div class="progress_bar mb-2">
          <div class="progress_bar_green" style="width: <%= (compaign.current_sum * 100)/compaign.goal %>%">
          </div>
        </div>
    <div class="card-body">
      <h5 class="card-title"><%= compaign.title %></h5>
      <p class="card-text"><%= compaign.project_idea %></p>
      <div class="badge badge-pill badge-success"><%= compaign.goal %> $</div>
      <br> <small class="text-muted">By <%= compaign.user.name %></small>

      <hr>
      <div class="d-flex flex-wrap bd-highlight justify-content-center">      
        <%= link_to 'Show', compaign, class: "btn btn-outline-success btn-sm mr-2" %>
        <% if @user && (@user.admin || @user.id == compaign.user_id) %>
            <%= link_to 'Edit', edit_compaign_path(compaign), class: "btn btn-outline-success btn-sm mr-2" %>
            <%= link_to 'Destroy', compaign, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-success btn-sm mr-2" %>
        <% end %>
      </div>
    </div>
    </div>
  <% end %>
</div>

<%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
