<h1>Compaigns</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Goal</th>
      <th>Project idea</th>
      <th>Endtime</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compaigns.each do |compaign| %>
      <tr>
        <td><%= compaign.title %></td>
        <td><%= compaign.category %></td>        
        <td><%= compaign.goal  %></td>
        <td><%= compaign.project_idea %></td>
        <td><%= compaign.endtime.strftime("%B %d, %Y") %></td>
        <td><%= compaign.user.name %></td>
        <td><%= link_to 'Show', compaign %></td>
        <% if current_user && (current_user.admin || current_user.id == compaign.user_id) %>
          <td><%= link_to 'Edit', edit_compaign_path(compaign) %></td>
          <td><%= link_to 'Destroy', compaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>