<h2 class="text-center mb-3">Admin panel</h2>
<%= form_tag admin_actions_users_admin_index_path, method: :patch do %>
<div class="text-center mb-3">
  <div class="btn-group">
    <%= submit_tag "make admin", :class => 'btn btn-outline-success btn-sm' %>
    <%= submit_tag "delete admin", :class => 'btn btn-outline-success btn-sm' %>
  </div>
  <div class="btn-group">
    <%= submit_tag "lock", :class => 'btn btn-outline-success btn-sm' %>
    <%= submit_tag "unlock", :class => 'btn btn-outline-success btn-sm' %>
  </div>

  <%= submit_tag "delete", :class => 'btn btn-outline-danger btn-sm' %>
</div>
  <h2 class="text-center">Users</h2>
  <table class="table mb-3" data-page-size="31" data-filter=#filter>
    <thead>
      <tr>
        <th class="text-center"><button id="check_all" class="btn btn-sm btn-success">Check all</button></th>
        <th>Name</th>
        <th>Email</th>
        <th>Created at</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="text-center"><%= check_box_tag "users_ids[]", user.id, false, class: 'selectable' %></td>
          <td>
            <%= user.name %>
            <% if user.admin %>
            <span class="badge badge-pill badge-success ml-4">admin</span>
            <% end %>
            <% if user.locked%>
            <span class="badge badge-pill badge-danger ml-4">locked</span>
            <% end %>  
          </td>
          <td><%= user.email %></td>
          <td><%= user.created_at %></td>
        </tr>
      <% end %>
    </tbody>
</table>
<% end %>
<%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>