<h1>Home Page</h1>

<% if current_user %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  <%= link_to 'Edit profile', edit_user_registration_path %>
  <%= link_to 'Create compaign', new_compaign_path %>
  <% if current_user && current_user.admin %>
    <%= link_to 'Users', users_admin_index_path %>
  <% end %>
<% else %>
  <%= link_to 'Sign up', new_user_registration_path %>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>

<%= link_to 'Compaigns', compaigns_path %>